@{  
    ViewBag.Title = "About";
}

@section featured_content {

    <h1>About Elena's List</h1>
}

<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <script src="https://fast.wistia.com/embed/medias/xg3o6ut456.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_embed wistia_async_xg3o6ut456 videoFoam=true" style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                <img src="https://fast.wistia.com/embed/medias/xg3o6ut456/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <h3><u>The Problem - How to find component MROs?</u></h3><br />
                Auditing, valuing & choosing component repair & overhaul shops is an essential supply chain process for Airlines, Aircraft Operators & Aircraft Parts Suppliers.<br /><br />
                Component MROs don’t advertise capabilities on every marketplace platform.<br /><br />
                Existing platforms charge MROs to list capabilities; component MROs have to decide which platforms to pay for.<br /><br />

                <h3><u>Solution - Elena's List</u></h3><br />
                A desktop & mobile friendly platform where all component MROs can meritocratically list component MRO capabilities.<br /><br />
                Elena's List is the world’s first meritocratic searchable database of component MRO capabilities.<br /><br />
                ~ Free to List & Pay to Search ~<br /><br />
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <img src="~/Content/dist/images/MROfinder-Vision.jpg" style="width:100%;" />
            </div>
        </div>
    </div>
</div>