@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Privacy Policy";
}

@section featured_content {

    <h1>@ViewBag.Title</h1>
}

<div class="privacy-page">
    <p>
        MRO FINDER is a highly professional and law abiding business entity and knows the importance of your private information. We give high emphasis to the protection of the privacy of our users. In the following space, MRO FINDER explains its Privacy Policy, please read it carefully.
    </p>

    <h2>Collection of Information :</h2>
    <p>
        MRO FINDER collects the following information from you when you visit, register or subscribe to the Services:
    </p>
    <ul>
        <li>Personally identifiable information including contact details,</li>
        <li>Business information,</li>
        <li>Payment information (from the paying subscriber),</li>
        <li>Browsing history, preferences, Computer, software or device information by using cookies</li>
    </ul>
    <p>
        Third parties&#39; cookies and links: The links and cookies belonging to the third parties are out of the jurisdiction of the Terms of Use and the Privacy Policy. The users are hereby advised to ensure whether they are safe to let such cookies settle in the computer or device or to click the third parties link.
    </p>

    <h2>Purpose of Information :</h2>
    <p>
        Our primary purpose of use of your information is to personalize the user experience, improve the Services and MRO FINDER Directory, verify the authenticity of MROs, process the transaction, provide the Services, display internet-based ads, serve targeted advertising and maintain the subscription record and other uses on the need-to- know-basis.
    </p>

    <h2>Security measures :</h2>
    <p>
        We employ all modern and sophisticated security measures of industry standards to protect the user information. We own no liability in case of an accidental event of Force Majeure nature making our security system non-functional to protect such information. MRO FINDER assures you that the information so collected shall not be sold, transferred or shared without your consent. MRO FINDER hereby expressly disowns the liability if such information is shared on the request of the Government officials in their official capacity or with our trusted affiliates or contractors for the purpose of development of the Services.
    </p>

    <a id="cookies" name="cookies"></a>
    <h2>Cookies &amp; Ads - Internet-Based Advertising :</h2>
    <p>
        We participate in interest-based advertising (IBA), also known as Online Behavioral Advertising. We use third-party advertising companies and networks to display ads served to you after you leave our website, encouraging you to return our website &amp; use the MRO FINDER Services. These ads may be served after you leave our website, or after you leave the websites of third parties.to your individual interests based on how you browse and search when you visit our Website, Internet Marketing Channels and across other sites to serve you MRO FINDER advertisements across the Internet and through other channels. To do so, we or our service providers may place or recognize a unique cookie on your browser (alone or in conjunction with web beacons, pixel tags or other tracking technologies).
    </p>
    <p>
        Some of these networks may be members of the Network Advertising Initiative (“NAI”) or participate in the Digital Advertising Alliance&#39;s (&quot;DAA&quot;) Self-Regulatory Program.
    </p>
    <p>
        To opt-out to members of the NAI visit their website at <a href="http://optout.networkadvertising.org/#!/" target="_blank">http://optout.networkadvertising.org/#!/</a>
    </p>
    <p>
        To learn more about your choices relating to networks that participate in the DAA Program, please visit <a href="http://www.aboutads.info" target="_blank">http://www.aboutads.info</a>.
    </p>
    <p>
        To opt-out to networks that participate in the DAA Program, please visit <a href="http://optout.aboutads.info/#!/" target="_blank">http://optout.aboutads.info/#!/</a>
    </p>
    <p>
        Please note, even if you choose to restrict, opt-out or modify your preferences, you may still see or receive MRO FINDER advertisements on our Website, on our Internet Marketing Channels and on other sites, but such advertisements will not be based upon your browsing history.
    </p>
    <p>
        <strong><u>Canadian &amp; EU Opt-Out Links:</u></strong>
    </p>
    <p>
        Canadian users can also visit <a href="https://youradchoices.ca/" target="_blank">https://youradchoices.ca/</a>
    </p>
    <p>
        European users can also visit <a href="http://youronlinechoices.com/" target="_blank">http://youronlinechoices.com/</a> to learn how to opt out of having their data used for online behavioral advertising by European Interactive Digital Advertising Alliance (EDAA) member companies.
    </p>
    <p>
    </p>
    <p>
        We may also work with third parties to serve ads to you as part of a customized campaign on third-party platforms (such as Facebook or Google). As part of these ad campaigns, we may convert information about you, such as your email address and phone number, into a unique value that can be matched with a user account on these platforms to allow us to serve you MRO FINDER advertising to encourage you to return to MRO FINDER. Note that the third-party platforms may offer you choices about whether you see these types of customized ads.
    </p>
    <p>
    </p>
    <p>
        <u>Google Pixel:</u>
    </p>
    <p>
        This website uses the Google AdWords remarketing service to advertise on third party websites (including Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven’t completed a task on our site, for example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors, including Google, use cookies to serve ads based on someone’s past visits to the MRO FINDER website. Of course, any data collected will be used in accordance with our own privacy policy and Google’s privacy policy.” Google Analytics uses cookies and other, similar technologies to collect information about the Services use and to report website trends to us, without identifying individual End-Users or Visitors to us. See below for more information, or to opt out of these practices:
    </p>
    <ul>
        <li>You can learn about Google’s practices by going to <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>, and opt-out of them by downloading the Google Analytics opt-out browser add-on, available at <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a></li>
    </ul>
    <p>
    </p>
    <p>
        <u>Facebook Conversion Tracking Pixel:</u>
    </p>
    <p>
        With your permission, our website utilizes the Conversion Tracking Pixel service of Facebook Inc., 1601 S. California Ave., Palo Alto, CA 94304, USA (“Facebook”). This tool allows us to follow the actions of users after they are redirected to a provider’s website by clicking on a Facebook advertisement. We are thus able to record the efficacy of Facebook advertisements for statistical and market research purposes. The collected data remain anonymous. This means that we cannot see the personal data of any individual user. However, the collected data are saved and processed by Facebook. We are informing you on this matter according to our information at this time. Facebook is able to connect the data with your Facebook account and use the data for their own advertising purposes, in accordance with Facebook’s Data Use Policy found under: <a href="https://www.facebook.com/about/privacy/" target="_blank">https://www.facebook.com/about/privacy/</a>. Facebook Conversion Tracking also allows Facebook and its partners to show you advertisements on and outside Facebook. In addition, a cookie will be saved onto your computer for these purposes.
    </p>
    <p>
    </p>
    <p>
        To Opt-Out of these Ads. Visit: <a href="https://www.facebook.com/ads/website_custom_audiences/" target="_blank">https://www.facebook.com/ads/website_custom_audiences/</a>
    </p>
    <p>
    </p>
    <p>
        For full details on Facebook Pixels please visit Facebook’s own guide – Facebook Conversion Tracking Pixel’s Terms - <a href="https://www.facebook.com/customaudiences/app/tos/" target="_blank">https://www.facebook.com/customaudiences/app/tos/</a>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
        Many web browsers allow you to manage your preferences. You can set your browser to refuse cookies or delete certain cookies. You may be able to manage other technologies in the same way that you manage cookies using your browser’s preferences. Please note that if you choose to block cookies, doing so may impair the MRO FINDER Service or prevent certain elements of it from functioning. You hereby consent to the use of the cookies and other technologies described above.
    </p>

    <h2>
        Do Not Track :
    </h2>
    <p>
        Do Not Track is a voluntary program among Internet advertisers that is intended to give users the ability to opt out of behavioral targeting and advertising. At this time, we do not respond to &quot;do not track&quot; settings from browsers.
    </p>

    <h2>Modification and amendments :</h2>
    <p>
        MRO FINDER reserves the right to modify or amend any or all of the provisions of the Privacy Policy without prior notice. The modified or amended version of the Privacy Policy shall be effective soon after it is posted on the relevant page.
    </p>

    <h2>Contact :</h2>
    <p>
        For further queries relating to the Privacy Policy, please do not hesitate to contact :
    </p>
    <address>
        <strong>MRO FINDER</strong><br />
        234 East 17th Street, STE 117<br />
        Costa Mesa, CA 92627
    </address>
    <address>
        <strong>Email</strong><br />
        <a href="mailto:info@MROfinder.aero">info@MROfinder.aero</a>
    </address>
    <address>
        <strong>Phone</strong><br />
        +1-949-355-3555
    </address>
</div>