@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Terms & Conditions";
}

@section featured_content {

    <h1>@ViewBag.Title</h1>
}

<div class="terms-page">
    <p>
        <strong>1. Please read all the provisions of the terms and condition (terms of use) carefully. An act of visiting or staying MRO FINDER or subscribing to the services offered through MRO FINDER shall be implied as if you have agreed to the terms of use which have binding effect.</strong>
    </p>
    <p>
        2. Definitions and interpretations :
    </p>
    <ul>
        <li><strong>2.1</strong> &#39;MRO FINDER&#39; refers to the owner, directors and authorized staff of MRO FINDER.</li>
        <li><strong>2.2</strong> &#39;MRO FINDER subscription&#39; means the paid subscription to access the certain feature of MRO FINDER Directory.</li>
        <li><strong>2.3</strong> &#39;Directory user&#39;: It refers to the paying users accessing MRO FINDER Directory.</li>
        <li><strong>2.4</strong> &#39;MRO FINDER Directory&#39;: It refers to the section of MRO FINDER to access to certain features of which is subject to the subscription fee.</li>
        <li><strong>2.5</strong> &#39;MRO FINDER&#39; means the official website of MRO FINDER.</li>
        <li><strong>2.6</strong> &#39;MROs user&#39;: It refers to the MROs that are allowed to list their capabilities, services and create their company profiles on MRO FINDER.</li>
        <li><strong>2.7</strong> &#39;MROs&#39;: Maintenance repair organizations relating to the aviation industry.</li>
        <li><strong>2.8</strong> The &#39;Services&#39;: All kinds of the services offered by MRO FINDER including paid and free services.</li>
        <li><strong>2.9</strong> Material: All data, information, content, tools, images and design available on MRO FINDER.</li>
        <li><strong>2.10</strong> The &#39;users&#39; and &#39;you&#39; refer to all users including the persons visiting MRO FINDER, MROs users and Directory users.</li>
    </ul>
    <p>
        3. Services, registration, payments and refunds :
    </p>
    <ul>
        <li><strong>3.1</strong> The MROs users are allowed to list their capabilities, services and the company profiles on MRO FINDER free of cost.</li>
        <li><strong>3.2</strong> The MROs users are allowed to list their workscope icons on MRO FINDER free of cost.</li>
        <li><strong>3.3</strong> MRO FINDER may verify the information and content provided by the MROs users and reserves the right to remove, modify and change any content provided by the MROs users. MRO FINDER may advise or assist the MROs users in creation of their company profiles.</li>
        <li><strong>3.4</strong> MROs users shall create their account on MRO FINDER in the prescribed manner.</li>
        <li><strong>3.5</strong> MROs users shall not be allowed to post any false, misleading, irrelevant, harmful or any objectionable content on MRO FINDER.</li>
        <li><strong>3.6</strong> Certain feature of the Services, including, without limitation, MRO FINDER Directory are subject to the paid subscription as prescribed on the pricing page @@ https://www.MROfinder.aero/Account/Signup </li>
        <li><strong>3.7</strong> MRO FINDER directory subscription is available on the monthly and annual basis (see the pricing page @@ https://www.MROfinder.aero/Account/Signup )</li>
        <li><strong>3.8</strong> MRO FINDER does not allow any refund of the subscription fee unless MRO FINDER fails to provide the Services for the agreed term. In such case, MRO FINDER shall refund the unconsumed subscription fee.</li>
        <li><strong>3.9</strong> MRO FINDER Directory users are licensed to use MRO FINDER Directory for their personal business needs and shall not sub-license the Services to any other person outside their business organization.</li>
        <li><strong>3.10</strong> In case, MRO FINDER Directory user is found to violate the preceding sub-section, MRO FINDER reserves the right to terminate the subscription and employ any other action permitted by the law.</li>
        <li><strong>3.11</strong> MRO FINDER reserves the right to revise the subscription fee in the course of the business. The revised subscription fee shall be applicable soon after the pricing page is updated.</li>
        <li><strong>3.12</strong> MRO FINDER may modify and change the Services and its scope without prior notice to the users. The existing registered users may be notified to that effect.</li>
    </ul>
    <p>
        4. Scope of liabilities :
    </p>
    <ul>
        <li><strong>4.1</strong> The maximum aggregate liability of MRO FINDER in case of the breach of the Terms of Use to the users shall be limited to the subscription fee paid by Directory users.</li>
    </ul>
    <p>
        5. General terms and conditions :
    </p>
    <ul>
        <li><strong>5.1</strong> The Terms of Use constitutes a complete agreement between MRO FINDER and the user with respect to the use of the Services superseding any other written or oral agreement with respect to the same subject matter.</li>
        <li><strong>5.2</strong> Any disputes arising from the Terms of Use shall be resolved by an independent mediation. If the mediation fails to resolve the disputes, the matter may be brought before the court having competent jurisdiction over Costa Mesa, California, US. The Terms of Use shall be governed by the relevant law for the time being in force in California, US.</li>
        <li><strong>5.3</strong> In case, any provision of the Terms of Use is found to be invalid, void or unenforceable, the invalid, void or unenforceable provision shall be severed from the Terms of Use, and the remaining provisions shall be valid, enforceable and binding.</li>
        <li><strong>5.4</strong> The provisions herein provided shall survive any termination or expiration of the Terms of Use and amended version thereof which by the context of such provisions intended to survive.</li>
        <li><strong>5.5</strong> All headings and numbers in the Terms of Use are used for the reference purpose and do not add to or define any provision.</li>
        <li><strong>5.6</strong> Any failure to enforce any right arising from the Terms of Use by MRO FINDER shall not constitute the past or future waiver of rights by MRO FINDER.</li>
        <li><strong>5.7</strong> For the content posted on MRO FINDER, MROs user grants MRO FINDER non-exclusive, worldwide, sub-licensable, royalty-free and transferable rights to use, reproduce, modify, prepare, adopt, distribute, publicly display and publish derivative works of such content by using any media to provide the Services.</li>
        <li><strong>5.8</strong> Unless otherwise provided by the relevant law for the time being in force in California, the user agrees to file any claim arising from the Terms of Use within three months after the cause of action for such claim arises. If the user fails to file such claim within the prescribed period, the claim shall be barred.</li>
    </ul>
    <p>
        6. Scope of License to use and Intellectual Property Rights :
    </p>
    <ul>
        <li><strong>6.1</strong> MRO FINDER grants the users a limited, revocable, non-exclusive license to use material and Services including, without limitation, MRO FINDER Directory to serve their business needs.</li>
        <li><strong>6.2</strong> The material on MRO FINDER is protected by the relevant laws for the time being in force in California, USA and by the International Treaties. The users are not allowed to reproduce or use any material on MRO FINDER in violation of the laws relating to the copyrights or intellectual property rights protection unless approved by MRO FINDER in writing to that effect. The rights not expressly granted are reserved hereby.</li>
    </ul>
    <p>
        7. Force Majeure :
    </p>
    <ul>
        <li><strong>7.1</strong> MRO FINDER shall not be liable for breach of the Terms of Use caused by the Force Majeure events, including, without limitation, an act of God, labor disputes, strikes, embargoes, Government orders and the events beyond the reasonable control of MRO FINDER.</li>
    </ul>
    <p>
        8. Modification and change :
    </p>
    <ul>
        <li><strong>8.1</strong> MRO FINDER reserves the right to modify, change or alter any provision of the Terms of Use from time to time. The modified, changed or altered version of the Terms of Use shall immediately be effective after it is posted on MRO FINDER. MRO FINDER may notify such modification, change or alteration to the existing registered users.</li>
    </ul>
    <p>
        9. Disclaimer :
    </p>
    <ul>
        <li><strong>9.1</strong> MRO FINDER disclaims all kind of express, implied or statutory warranties. all material including, without limitation, MRO FINDER directory, services, tools and data are provided through MRO FINDER on the &#39;as-is&#39; and &#39;as-available&#39; basis, MRO FINDER shall not be liable to the user for any omission or commission, delays or inaccuracies or failure to provide correct and updated material, services or MRO FINDER directory and MRO FINDER directory results. we cannot and do not guarantee the reliability, completeness, accuracy, merchantability, non-infringement, security, timeliness, fitness or suitability of the material, services and MRO FINDER directory being offered through MRO FINDER.</li>
        <li><strong>9.2</strong> MRO FINDER shall not be liable to the user or any third party for any injury or loss caused by an act of omission or commission in procuring, editing, compiling, calculating, writing, interpreting, transmitting or delivering the services, material or any data provided through MRO FINDER directory.</li>
        <li><strong>9.3</strong> MRO FINDER owns no liability in any circumstances or on the ground of any theory of law, including, without limitation, tort, equity or contract law, for any direct or indirect loss suffered by the user resulting from a decision or action taken by the user in reliance upon the material, services or MRO FINDER directory search results. it is duty of the user to ensure that he is safe while relying upon the services, material or MRO FINDER directory.</li>
        <li><strong>9.4</strong> MRO FINDER owns no liability for the material of third party such as third party links and company profiles.</li>
    </ul>
    <p>
        10. Indemnification :
    </p>
    <ul>
        <li><strong>10.1</strong> The user hereby agree to defend, indemnify or hold MRO FINDER, its directors, officers, owners, agents, affiliates and assigns harmless from and against all kind of claims, obligations, liabilities, penalties, actions, suits, costs and expenses arising out the user&#39;s posts, conducts, breach of the Terms of Use, violation of the law, infringement of third party rights, or any dispute between the user and the third party.</li>
    </ul>
    <p>
        11. Restricted countries :
    </p>
    <ul>
        <li><strong>11.1</strong> Any kind of direct or indirect use of and access to MRO FINDER is prohibited to the users residing in or operating from the US embargoed countries administered by the Office of Foreign Assets Control (OFAC).</li>
    </ul>
    <p>
        12. Confidentiality :
    </p>
    <ul>
        <li><strong>12.1</strong> The users are advised to maintain the confidentiality and security of the user name and password of their user account. The users are responsible for the activities carried out under their account. The MROs are liable to notify MRO FINDER immediately in the event of an unauthorized use of the account.</li>
    </ul>
    <p>
        13. Service of Notice :
    </p>
    <ul>
        <li>
            <strong>13.1</strong> All kind of communication and service of notices under the Terms of Use shall be addressed to the official address of MRO FINDER as following:
            <address>
                <strong>MRO FINDER</strong><br />
                234 East 17th Street, STE 117<br />
                Costa Mesa, CA 92627
            </address>
            <address>
                <strong>Email</strong><br />
                <a href="mailto:info@MROfinder.aero">info@MROfinder.aero</a>
            </address>
        </li>
        <li><strong>13.2</strong> The notice shall be deemed to be delivered on the delivery if electronically mailed or personally delivered or after seven (7) business days if posted through an authentic courier / mail service.</li>
    </ul>
    <p>
        14. Copyright infringements :
    </p>
    <ul>
        <li><strong>14.1</strong> MRO FINDER is a highly responsible and professional business entity and respects the copyrights owned by other parties. If any person or business entity finds MRO FINDER violating his/her/its, as the case may be, copyrights while providing the Services, he should immediately notify to MRO FINDER with the relevant proof. We assure you that the matter shall be settled as soon as possible.</li>
    </ul>
</div>