@using Findparts.Core
@{
    ViewBag.Title = "End User License Agreement";
}

@section featured_content {

    <h1>@ViewBag.Title</h1>
}

<div class="terms-page">
    <p>
        <strong>1. Please read all the provisions of the End User License Agreement aka (terms of use) carefully. An act of visiting or staying Aviation Back-Channel or subscribing to the services offered through Aviation Back-Channel shall be implied as if you have agreed to the terms of use which have binding effect.</strong>
    </p>
    <p>
        2. Definitions and interpretations:
    </p>
    <ul>
        <li><strong>2.1</strong> 'Aviation Back-Channel' refers to the owner, directors and authorized staff of Aviation Back-Channel.</li>
        <li><strong>2.2</strong> 'Directory user': It refers to the users accessing Aviation Back-Channel Directory.</li>
        <li><strong>2.3</strong> 'Aviation Back-Channel' means the official website of Aviation Back-Channel.</li>
        <li><strong>2.4</strong> 'Vendor user': It refers to the Vendor that are allowed to list their capabilities, services and create their company profiles on Aviation Back-Channel.</li>
        <li><strong>2.5</strong> The 'Services': All kinds of the services offered by Aviation Back-Channel including paid and free services.</li>
        <li><strong>2.6</strong> Material: All data, information, content, tools, images and design available on Aviation Back-Channel.</li>
        <li><strong>2.7</strong> The 'users' and 'you' refer to all users including the persons visiting Aviation Back-Channel, Vendor users and Directory users.</li>
        <li><strong>2.8</strong> 'User-generated content' refers to all text, posts, likes, comments, tasks, video & audio/speech created by ‘users’ and ‘you’ including the persons visiting Aviation Back-Channel, Vendor users and Directory users.</li>
    </ul>
    <p>
        3. Services, registration, payments and refunds:
    </p>
    <ul>
        <li><strong>3.1</strong> The Vendor users are allowed to list their capabilities, services and the company profiles on Aviation Back-Channel free of cost.</li>
        <li><strong>3.2</strong> The Vendor users are allowed to list their workscope icons on Aviation Back-Channel free of cost.</li>
        <li><strong>3.3</strong> Aviation Back-Channel may verify the information and content provided by the Vendor users and reserves the right to remove, modify and change any content provided by the Vendor users. Aviation Back-Channel may advise or assist the Vendor users in creation of their company profiles.</li>
        <li><strong>3.4</strong> Vendor users shall create their account on Aviation Back-Channel in the prescribed manner.</li>
        <li><strong>3.5</strong> Vendor users shall not be allowed to post any false, misleading, irrelevant, harmful or any objectionable content on Aviation Back-Channel.</li>
        <li><strong>3.6</strong> Aviation Back-Channel Directory users are licensed to use Aviation Back-Channel Directory for their personal business needs and shall not sub-license the Services to any other person outside their business organization.</li>
        <li><strong>3.7</strong> In case, Aviation Back-Channel Directory user is found to violate the preceding sub-section, Aviation Back-Channel reserves the right to terminate the subscription and employ any other action permitted by the law.</li>
        <li><strong>3.8</strong> Aviation Back-Channel may modify and change the Services and its scope without prior notice to the users. The existing registered users may be notified to that effect.</li>
    </ul>
    <p>
        4. Scope of liabilities:
    </p>
    <ul>
        <li><strong>4.1</strong> The maximum aggregate liability of Aviation Back-Channel in case of the breach of the Terms of Use to the users shall be limited to the subscription fee paid by Directory users.</li>
    </ul>
    <p>
        5. General terms and conditions:
    </p>
    <ul>
        <li><strong>5.1</strong> The Terms of Use constitutes a complete agreement between Aviation Back-Channel and the user with respect to the use of the Services superseding any other written or oral agreement with respect to the same subject matter.</li>
        <li><strong>5.2</strong> Any disputes arising from the Terms of Use shall be resolved by an independent mediation. If the mediation fails to resolve the disputes, the matter may be brought before the court having competent jurisdiction over Costa Mesa, California, US. The Terms of Use shall be governed by the relevant law for the time being in force in California, US.</li>
        <li><strong>5.3</strong> In case, any provision of the Terms of Use is found to be invalid, void or unenforceable, the invalid, void or unenforceable provision shall be severed from the Terms of Use, and the remaining provisions shall be valid, enforceable and binding.</li>
        <li><strong>5.4</strong> The provisions herein provided shall survive any termination or expiration of the Terms of Use and amended version thereof which by the context of such provisions intended to survive.</li>
        <li><strong>5.5</strong> All headings and numbers in the Terms of Use are used for the reference purpose and do not add to or define any provision.</li>
        <li><strong>5.6</strong> Any failure to enforce any right arising from the Terms of Use by Aviation Back-Channel shall not constitute the past or future waiver of rights by Aviation Back-Channel.</li>
        <li><strong>5.7</strong> For the content posted on Aviation Back-Channel, Vendor user grants Aviation Back-Channel non-exclusive, worldwide, sub-licensable, royalty-free and transferable rights to use, reproduce, modify, prepare, adopt, distribute, publicly display and publish derivative works of such content by using any media to provide the Services.</li>
        <li><strong>5.8</strong> Unless otherwise provided by the relevant law for the time being in force in California, the user agrees to file any claim arising from the Terms of Use within three months after the cause of action for such claim arises. If the user fails to file such claim within the prescribed period, the claim shall be barred.</li>
    </ul>
    <p>
        6. Scope of License to use and Intellectual Property Rights:
    </p>
    <ul>
        <li><strong>6.1</strong> Aviation Back-Channel grants the users a limited, revocable, non-exclusive license to use material and Services including, without limitation, Aviation Back-Channel Directory to serve their business needs.</li>
        <li><strong>6.2</strong> The material on Aviation Back-Channel is protected by the relevant laws for the time being in force in California, USA and by the International Treaties. The users are not allowed to reproduce or use any material on Aviation Back-Channel in violation of the laws relating to the copyrights or intellectual property rights protection unless approved by Aviation Back-Channel in writing to that effect. The rights not expressly granted are reserved hereby.</li>
    </ul>
    <p>
        7. Force Majeure:
    </p>
    <ul>
        <li><strong>7.1</strong> Aviation Back-Channel shall not be liable for breach of the Terms of Use caused by the Force Majeure events, including, without limitation, an act of God, labor disputes, strikes, embargoes, Government orders and the events beyond the reasonable control of Aviation Back-Channel.</li>
    </ul>
    <p>
        8. Modification and change:
    </p>
    <ul>
        <li><strong>8.1</strong> Aviation Back-Channel reserves the right to modify, change or alter any provision of the Terms of Use from time to time. The modified, changed or altered version of the Terms of Use shall immediately be effective after it is posted on Aviation Back-Channel. Aviation Back-Channel may notify such modification, change or alteration to the existing registered users.</li>
    </ul>
    <p>
        9. Disclaimer:
    </p>
    <ul>
        <li><strong>9.1</strong> Aviation Back-Channel disclaims all kind of express, implied or statutory warranties. all material including, without limitation, Aviation Back-Channel directory, services, tools and data are provided through Aviation Back-Channel on the 'as-is' and 'as-available' basis, Aviation Back-Channel shall not be liable to the user for any omission or commission, delays or inaccuracies or failure to provide correct and updated material, services or Aviation Back-Channel directory and Aviation Back-Channel directory results. we cannot and do not guarantee the reliability, completeness, accuracy, merchantability, non-infringement, security, timeliness, fitness or suitability of the material, services and Aviation Back-Channel directory being offered through Aviation Back-Channel.</li>
        <li><strong>9.2</strong> Aviation Back-Channel shall not be liable to the user or any third party for any injury or loss caused by an act of omission or commission in procuring, editing, compiling, calculating, writing, interpreting, transmitting or delivering the services, material or any data provided through Aviation Back-Channel directory.</li>
        <li><strong>9.3</strong> Aviation Back-Channel owns no liability in any circumstances or on the ground of any theory of law, including, without limitation, tort, equity or contract law, for any direct or indirect loss suffered by the user resulting from a decision or action taken by the user in reliance upon the material, services or Aviation Back-Channel directory search results. it is duty of the user to ensure that he is safe while relying upon the services, material or Aviation Back-Channel directory.</li>
        <li><strong>9.4</strong> Aviation Back-Channel owns no liability for the material of third party such as third party links and company profiles.</li>
    </ul>
    <p>
        10. Objectionable Content or Abusive Users: (User-generated content)
    </p>
    <ul>
        <li><strong>10.1</strong> The user hereby agrees to treat every user in positive & humane scope. Aviation Back-Channel has no tolerance for hate speech, abuse, vulgarity, abuse, hate, mass disrespect, spam and ALL objectionable User Generated Content. Any user creating objectionable or abusive content will be banned from Aviation Back-Channel.</li>
    </ul>
    <p>
        11. Indemnification:
    </p>
    <ul>
        <li><strong>11.1</strong> The user hereby agree to defend, indemnify or hold Aviation Back-Channel, its directors, officers, owners, agents, affiliates and assigns harmless from and against all kind of claims, obligations, liabilities, penalties, actions, suits, costs and expenses arising out the user's posts, conducts, breach of the Terms of Use, violation of the law, infringement of third party rights, or any dispute between the user and the third party.</li>
    </ul>
    <p>
        12. Restricted countries :
    </p>
    <ul>
        <li><strong>12.1</strong> Any kind of direct or indirect use of and access to Aviation Back-Channel is prohibited to the users residing in or operating from the US embargoed countries administered by the Office of Foreign Assets Control (OFAC).</li>
    </ul>
    <p>
        13. Confidentiality:
    </p>
    <ul>
        <li><strong>13.1</strong> The users are advised to maintain the confidentiality and security of the user name and password of their user account. The users are responsible for the activities carried out under their account. The Vendor are liable to notify Aviation Back-Channel immediately in the event of an unauthorized use of the account.</li>
    </ul>
    <p>
        14. Service of Notice:
    </p>
    <ul>
        <li>
            <strong>14.1</strong> All kind of communication and service of notices under the Terms of Use shall be addressed to the official address of Aviation Back-Channel as following:
            <address>
                <strong>Aviation Back-Channel</strong><br />
                7258 Birchwood<br />
                Cincinnati, OH 45069
            </address>
            <address>
                <strong>Email</strong><br />
                <a href="mailto:bryan@back-channel.com">bryan@back-channel.com</a>
            </address>
        </li>
        <li><strong>14.2</strong> The notice shall be deemed to be delivered on the delivery if electronically mailed or personally delivered or after seven (7) business days if posted through an authentic courier / mail service.</li>
    </ul>
    <p>
        15. Copyright infringements:
    </p>
    <ul>
        <li><strong>15.1</strong> Aviation Back-Channel is a highly responsible and professional business entity and respects the copyrights owned by other parties. If any person or business entity finds Aviation Back-Channel violating his/her/its, as the case may be, copyrights while providing the Services, he should immediately notify to Aviation Back-Channel with the relevant proof. We assure you that the matter shall be settled as soon as possible.</li>
    </ul>
</div>