<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target name="EmailLoggerFile" xsi:type="File"
            fileName="${basedir}/logs/emails/${shortdate}/emailLog.log"
            layout="${message}" />


    <target name="ErrorLoggerFile" xsi:type="File"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target name="DebugLoggerFile" xsi:type="File"
            fileName="${basedir}/logs/debug-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

  </targets>

  <rules>
    <logger name="emailLogs" minlevel="Debug" writeTo="EmailLoggerFile" />
    <logger name="errorLogger" minlevel="Debug" writeTo="ErrorLoggerFile" />
    <logger name="debugLogger" minlevel="trace" writeTo="DebugLoggerFile" />
  </rules>
</nlog>