<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>    
    <add name="FindPartsEntities" connectionString="metadata=res://*/findPartsEntities.csdl|res://*/findPartsEntities.ssdl|res://*/findPartsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=findparts-dev.ci9kcjmf988u.us-west-2.rds.amazonaws.com;initial catalog=aeroMRO;User ID=findparts;Password=keaLPpAQa6UdFAgS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FindPartsIdentityEntities" connectionString="Data Source=findparts-dev.ci9kcjmf988u.us-west-2.rds.amazonaws.com;Initial Catalog=Findparts-identity;User ID=findparts;Password=keaLPpAQa6UdFAgS;" providerName="System.Data.SqlClient" 
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="AdminEmail" value="admin@findparts.aero"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FromEmail" value="no-reply@findparts.aero"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="live"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
