@using DAL;
@{ 
    ViewBag.Title = "Sign Up";
}

<div class="sign-up">
    <div class="main-block" style="padding: 10px;">
        
        @using (Html.BeginForm("ExternalLogin", "Account"))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary" id="LinkedIn" name="provider" value="LinkedIn" title="Sign in with LinkedIn" style="margin: 10px;"><img src="~/Content/dist/images/icons/linkedin.png" style="width: 30px; height:30px; border-radius: 4px;" />&nbsp;&nbsp; Sign In with LinkedIn</button>
        }
        
        
        <div class="pre-price">Free Marketplace</div>
        <div class="price">$0.00</div>
        <div class="pre-price">Social Collab - 15 Users</div>
        <div class="price">$0.00</div>
        @using (Html.BeginForm("ExternalLogin", "Account"))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary" id="LinkedIn" name="provider" value="LinkedIn" title="Sign in with LinkedIn" style="margin: 10px;"><img src="~/Content/dist/images/icons/linkedin.png" style="width: 30px; height:30px; border-radius: 4px;" />&nbsp;&nbsp; Sign In with LinkedIn</button>
        }
        <div class="block-footer">
            <div>or</div>
            <div><a href="@Url.Action("SignUpWithEmail", "Account")">Sign up with Email</a></div>
        </div>
    </div>
</div>