@using Findparts.Models
@using Findparts.Core
@model VideoCallViewModel

@section styles{
    <style>
        body {
            height: 100%;
        }
        #body {
            height: calc(100% - 100px);
            padding-bottom: 0;
        }
        #body section {
            height: 100%;
        }
    </style>
}
<div style="height: 100%; width: 100%; display: flex; flex-direction: column">
    <div class="message-success text-center">
        Invitation emails are sent to vendor. Please wait.
    </div>
    <div id="meet-container" style="flex-grow: 1;"></div>
</div>
<script src='https://8x8.vc/libs/external_api.min.js'></script>

<script>
    const domain = '8x8.vc';
    const options = {
        roomName: '@Config.JitsiAppId/@Model.RoomName',
        userInfo: {
            email: '@Model.UserEmail',
            displayName: '@Model.UserEmail'
        },
        configOverwrite: {
            disableInviteFunctions: true,            
        },
        jwt: '@Model.Token',
        parentNode: document.querySelector('#meet-container')
    };
    const api = new JitsiMeetExternalAPI(domain, options);
</script>
