@using Findparts.Core

<div class="container">
    <div class="cta">
        <div style="display: flex; align-items: center; max-width: 360px;">
            <img class="cta-logo" src="~/Content/dist/images/black-logo.png" />
            <span style="margin: 0 16px;">We Create + Distribute Content</span>
        </div>
        <hr class="cta-separater" />
        <div class="cta-brands-box">
            <div style="display: flex; align-items: center; flex-direction: column">
                <img style="width: 128px; margin-bottom: 32px;" src="~/Content/dist/images/aviation-brands-icon-256.png" />
                <h4>Aviation Brands</h4>
                <p style="color: #0091b2; margin: 16px 0;">Authentically reach your prospects</p>
                <a class="btn btn-primary" target="_blank" href="https://calendly.com/buddyaero">Book a Mini Podcast</a>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <img style="width: 128px; margin-bottom: 32px;" src="~/Content/dist/images/aviation-creators-icon-256.png" />
                <h4>Aviation Creators</h4>
                <p style="color: #0091b2; margin: 16px 0;">Share knowledge for $2500 a month</p>
                <a class="btn btn-primary" target="_blank" href="https://forms.gle/zJpka7tWNwVZi5mcA">Become a Contributor</a>
            </div>
        </div>
        <hr class="cta-separater" />

        <img style="max-width: 240px; margin: 16px 0;" src="~/Content/dist/images/buddy-logo.png" />

        <div style="display: flex; gap: 32px; align-items: center; justify-content: center; margin-top: 16px;">
            <a href="https://apps.apple.com/us/app/aviation-back-channel/id1568332316"><img style="height: 40px;" src="~/Content/dist/images/download-on-appstore.svg" /></a>
            <a href="#"><img style="height: 60px;" src="~/Content/dist/images/google-play-badge.png" /></a>
        </div>
    </div>
</div>
