@using Findparts.Core
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 copy">
            &copy; @DateTime.Now.Year - @Config.PortalName
        </div>
        <div class="col-xs-12 col-sm-8 links">
            <ul>
                <li><a href="/About">About</a></li>
                <li><a href="/Terms">Terms</a></li>
                <li><a href="/Privacy#cookies">Cookies</a></li>
                <li><a href="/Privacy">Privacy</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

